<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Appenders>
                <JPA name="databaseAppender" persistenceUnitName="loggingPersistenceUnit"
                        entityClassName="cm.homeautomation.entities.LoggingEntity" />
                <Console name="STDOUT">
                        <PatternLayout pattern="%m MDC%X%n" />
                </Console>
        </Appenders>

        <Loggers>
                <Logger name="cm.homeautomation" additivity="false"  level="debug">
                        <AppenderRef ref="databaseAppender" />
                </Logger>

                <Logger name="cm.homeautomation" additivity="false"  level="debug">
                        <AppenderRef ref="STDOUT" />
                </Logger>

                <Root>
                        <AppenderRef ref="databaseAppender" />
                        <AppenderRef ref="STDOUT" />
                </Root>
        </Loggers>
</Configuration>
