<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<JPA name="databaseAppender" persistenceUnitName="HA"
			entityClassName="cm.homeautomation.entities.LoggingEntity" />
		<Console name="STDOUT">
			<PatternLayout pattern="%m MDC%X%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="cm.homeautomation" additivity="false"
			level="error">
			<priority value="ERROR" />
			<!-- <AppenderRef ref="databaseAppender" /> -->
			<AppenderRef ref="STDOUT" />
		</Logger>

		<Root level="error">
			<priority value="ERROR" />
			<!--<AppenderRef ref="databaseAppender" />-->
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>