<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
		<JPA name="databaseAppender" persistenceUnitName="loggingPersistenceUnit"
			entityClassName="cm.homeautomation.entities.LoggingEntity" />
		<WebSocketAppender name="WebSocketAppender" />
		<Console name="STDOUT">
			<PatternLayout pattern="%m MDC%X%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="cm.homeautomation" additivity="false" level="error">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="databaseAppender" />
			<AppenderRef ref="WebSocketAppender" />
		</Logger>

		<Root>
			<AppenderRef ref="databaseAppender" />
			<AppenderRef ref="WebSocketAppender" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
