<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>HomeAutomation</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>startup</servlet-name>
		<servlet-class>cm.homeautomation.services.base.StartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cameraproxy2</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.34:8080/?action=stream</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>camerasnapshot2</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.34:8080/?action=snapshot</param-value>
		</init-param>
	</servlet>
		<servlet>
		<servlet-name>cameraproxy3</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.76:8081/?action=stream</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>camerasnapshot3</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.76:8081/?action=snapshot</param-value>
		</init-param>
	</servlet>
			<servlet>
		<servlet-name>cameraproxy4</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.33:8090/?action=stream</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>camerasnapshot4</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.33:8090/?action=snapshot</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>cameraproxy</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.57:8080/?action=stream</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>camerasnapshot</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.57:8080/?action=snapshot</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>planesproxy</servlet-name>
		<servlet-class>cm.homeautomation.web.HttpProxyServlet</servlet-class>
		<init-param>
			<param-name>url</param-name>
			<param-value>http://192.168.1.77:8080/data.json</param-value>
		</init-param>
	</servlet>

<servlet>
  <servlet-name>newCameraProxy</servlet-name>
  <servlet-class>org.mitre.dsmiley.httpproxy.URITemplateProxyServlet</servlet-class>
  <init-param>
    <param-name>targetUri</param-name>
    <param-value>http://192.168.1.{_ip}:{_port}/?action={_action}</param-value>
  </init-param>
  <init-param>
    <param-name>log</param-name>
    <param-value>true</param-value>
  </init-param>
</servlet>

<servlet-mapping>
  <servlet-name>newCameraProxy</servlet-name>
  <url-pattern>/newCameraProxy/*</url-pattern>
</servlet-mapping>

	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>cm.homeautomation</param-value>
		</init-param>

		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>cm.homeautomation.services.base.JerseyApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>cameraproxy4</servlet-name>
		<url-pattern>/cameraproxy4/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cameraproxy3</servlet-name>
		<url-pattern>/cameraproxy3/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>camerasnapshot4</servlet-name>
		<url-pattern>/camerasnapshot4/*</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>camerasnapshot3</servlet-name>
		<url-pattern>/camerasnapshot3/*</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>cameraproxy2</servlet-name>
		<url-pattern>/cameraproxy2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>camerasnapshot2</servlet-name>
		<url-pattern>/camerasnapshot2/*</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>cameraproxy</servlet-name>
		<url-pattern>/cameraproxy/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>camerasnapshot</servlet-name>
		<url-pattern>/camerasnapshot/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>planesproxy</servlet-name>
		<url-pattern>/planesproxy/*</url-pattern>
	</servlet-mapping>

	<!-- <filter> <filter-name>CacheControlFilter</filter-name> <filter-class>com.sap.openui5.CacheControlFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>CacheControlFilter</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> <filter> <filter-name>CORSFilter</filter-name> 
		<filter-class>com.sap.openui5.CORSFilter</filter-class> </filter> <filter-mapping> 
		<filter-name>CORSFilter</filter-name> <url-pattern>/*</url-pattern> </filter-mapping> 
		<filter> <filter-name>ConcatFilter</filter-name> <filter-class>com.sap.openui5.ConcatFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>ConcatFilter</filter-name> <url-pattern>/resources/*</url-pattern> 
		</filter-mapping> <filter> <filter-name>LessFilter</filter-name> <filter-class>com.sap.openui5.LessFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>LessFilter</filter-name> <url-pattern>/resources/*</url-pattern> 
		</filter-mapping> <servlet> <servlet-name>ResourceServlet</servlet-name> 
		<servlet-class>com.sap.openui5.ResourceServlet</servlet-class> </servlet> 
		<servlet-mapping> <servlet-name>ResourceServlet</servlet-name> <url-pattern>/resources/*</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>ResourceServlet</servlet-name> 
		<url-pattern>/test-resources/*</url-pattern> </servlet-mapping> <servlet> 
		<servlet-name>DiscoveryServlet</servlet-name> <servlet-class>com.sap.openui5.DiscoveryServlet</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>DiscoveryServlet</servlet-name> 
		<url-pattern>/discovery/*</url-pattern> </servlet-mapping> <servlet> <servlet-name>ProxyServlet</servlet-name> 
		<servlet-class>com.sap.openui5.SimpleProxyServlet</servlet-class> </servlet> 
		<servlet-mapping> <servlet-name>ProxyServlet</servlet-name> <url-pattern>/proxy/*</url-pattern> 
		</servlet-mapping> -->
</web-app>